@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

@import url('../styles/introduction_section.css');
@import url('../styles/projects_section.css');

:root {
    /* Principal */
    --red-color: #E3646E;
    --purple-color: #BB72E9;
    --blue-color: #3996DB;
    --green-color: #82BC4F;
    --yellow-color: #EABD5F;

    /* Secundário */
    --gray-color-100: #0D0E11;
    --gray-color-200: #16181D;
    --gray-color-300: #292C34;
    --gray-color-400: #878EA1;
    --gray-color-500: #C0C4CE;
    --gray-color-600: #E2E4E9;

    --font-family-asap: 'Asap', sans-serif;
    --asap-title-lg: 700 56px/120% var(--font-family-asap);
    --asap-title-md: 700 24px/120% var(--font-family-asap);
    --asap-title-sm: 700 16px/120% var(--font-family-asap);
    --font-family-inconsolata: 'Inconsolata', sans-serif;
    --inconsolata-text: 400 20px/120% var(--font-family-inconsolata);
    --font-family-mavenpro: 'Maven Pro', sans-serif;
    --maven-pro-text-md: 400 16px/140% var(--font-family-mavenpro);
    --maven-pro-text-sm: 400 14px/140% var(--font-family-mavenpro);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

