#services_section {
    background-color: var(--gray-color-100);
}

.grupo_services_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 120px;

    h3 {
        color: var(--red-color);
        font: var(--inconsolata-text);
    }

    h2 {
        color: var(--gray-color-600);
        font: var(--asap-title-md);
        margin-top: 8px;
        margin-bottom: 56px;
    }

    ul {
        display: flex;
        gap: 24px;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: left;
        border: solid 2px;
        border-color: var(--gray-color-200);
        border-radius: 12px;
        padding-inline: 20px;
        padding-block: 20px;

        h1 {
            color: var(--gray-color-600);
            font: var(--asap-title-sm);
            margin-top: 20px;
            margin-bottom: 8px;
        }

        p {
            color: var(--gray-color-500);
            font: var(--maven-pro-text-sm);
        }

        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
        }
    }
}